.header{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    background-color: lightseagreen;
    margin: 0;
    padding: 0;
}
.header>*{
    margin-right: 2em;
    text-decoration: none;
    color:black;
    cursor: pointer;
}