<div class="header">
    <h1>Cabinet médical</h1>
    <a routerLink="/infirmieres" routerLinkActive="active">Infirmieres</a>
    <a routerLink="/patients" routerLinkActive="active">Patients</a>
</div>
