<div class="parent">
    <div class="bloc">
        <h2>Patient: {{patient.nom}} {{patient.prenom}}</h2>
        <p>Sexe : {{ patient.sexe}}</p>
        <p>Date de Naissance : {{ patient.dateDeNaissance}}</p>
        <p>Numero sécu : {{ patient.numeroSecuriteSociale}}</p>
        <app-adresse-details [adresse]="patient.adresse"></app-adresse-details>
    </div>
</div>
<app-infirmiere-details [infirmiere]="patient.infirmiere"></app-infirmiere-details>
