<div class="parent">
    <a routerLink="/patients/ajouter" routerLinkActive="active">Ajouter un patient</a>
    <div class="bloc" *ngFor="let patient of patients">
        <h3>{{patient.nom}} {{patient.prenom}}</h3>
        <p>id: {{patient.id}}</p>
        <a routerLink="/patients/{{patient.id}}" routerLinkActive="active">Details</a>
        <button (click)="supprimer(patient.id)">Supprimer</button>
    </div>
</div>
