<div class="parent">
    <a routerLink="/infirmieres/ajouter" routerLinkActive="active">Ajouter une infirmiere</a>
    <div class="bloc" *ngFor="let infirmiere of infirmieres">
        <p>{{infirmiere.id}}</p>
        <p>{{infirmiere.nom}}</p>
        <p>{{infirmiere.prenom}}</p>
        <a routerLink="/infirmieres/{{infirmiere.id}}" routerLinkActive="active">Details</a>
        <button (click)="supprimer(infirmiere.id)">Supprimer</button>
    </div>
</div>
