.parent{
    display:flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.parent>*{
    margin-bottom: 2em;
}

.bloc{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: lightblue;
    width: 80%;
    border-radius: 2em;
}

.bloc>*{
    margin: 0;
    margin-bottom: 0.25em;
    margin-top: 0.25em;
}