<div class="parent">
    <div class="bloc">
        <a routerLink="/infirmieres" routerLinkActive="active">Retour à la liste</a>
        <form class="bloc" [formGroup]="infirmiere"(ngSubmit)="envoyerFormulaire()">
            <h3>Infirmiere</h3>
            <label>Nom:
                <input type="text"formControlName="nom">
            </label>
            <label>Prénom:
                <input type="text"formControlName="prenom">
            </label>
            <label>numeroProfessionnel:
                <input type="number"formControlName="numeroProfessionnel">
            </label>
            <label>telPro:
                <input type="text"formControlName="telPro">
            </label>
            <label>telPerso:
                <input type="text"formControlName="telPerso">
            </label>
            <div formGroupName="adresse" class="bloc">
                <h3>Adresse</h3>
                <label>Numéro:
                    <input type="text"formControlName="numero">
                </label>
                <label>Rue:
                    <input type="text"formControlName="rue">
                </label>
                <label>CodePostal:
                    <input type="text"formControlName="cp">
                </label>
                <label>Ville:
                    <input type="text"formControlName="ville">
                </label>
            </div>
            <button type=submit>Envoyer</button>
        </form>
    </div>
</div>
