<div class="parent">
    <div class="bloc">
        <h2>Infirmiere: {{infirmiere.nom}} {{infirmiere.prenom}}</h2>
        <p>Numero pro : {{ infirmiere.numeroProfessionnel}}</p>
        <p>Tel pro : {{ infirmiere.telPro}}</p>
        <p>Tel perso : {{ infirmiere.telPerso}}</p>
        <app-adresse-details [adresse]="infirmiere.adresse"></app-adresse-details>
        <a routerLink="/infirmieres" routerLinkActive="active">Retour à la liste</a>
    </div>
</div>

